 *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*background-color: gray;*/
}
/*网页的导航栏样式开始*/
.top{
	width: 100%;
	height: 80px;
	background-color: gray;
}
.top nav{
	float: right;
	line-height: 80px;
}
.top nav a{
	margin: 20px;
}
.top img{
	position: absolute;
	top: 10px;
	left: 80px;
}
/*网页的导航栏样式结束*/
/*主体左侧部分样式*/
.bc{
	background-color: gray;
	position: relative;
}
.article1 ,.article2,.picture, .table ,.sidebar{
	margin: 0 20px 20px 20px;
	border: 1px solid black;
	background-color: white;
	padding: 20px;
}
.article2 ul li{
	list-style: none;
} 
.picture img{
	width: 100px;
	height: 100px;
	/*margin: 10px;*/
}
.picture figure{
	border: 1px solid black;
	width: 100px;
	margin: 10px;
	padding: 10px;
	display: inline-block;
}
.table .paiming{
	margin: 20px 0 20px 40px;
}
.table2{
	border-collapse: collapse;
	width: 100%;
}
.table .t-top{
	background-color: black;
	color: white;
}
.table .t-foot{
	background-color: gray;
}
/*主体左侧部分样式完成*/
/*主体右侧部分样式*/
.sidebar{
	width: 370px;
	height: 450px;
}
#right{
	position: absolute;
	top: 0;
	right: 0;
}
.sidebar table{
	margin: 20px;
	padding: 20px;
}
.sidebar h4{
	text-align: center;
}
#left{
	margin-right: 390px;
}







































